@model DailyPlanner.DomainClasses.Activity

<div class="form-group">
    <label for="@Model.Name" class="control-label col-xs-3">
        Name
    </label>
    <div class="col-xs-9">
        <p class="form-control-static">
            @Model.Name
        </p>
    </div>
</div>

<div class="form-group">
    <label for="@Model.Description" class="control-label col-xs-3">
        Description
    </label>
    <div class="col-xs-9">
        <p class="form-control-static">
            @Model.Description
        </p>
    </div>
</div>

<div class="form-group">
    <label for="@Model.ActivityType" class="control-label col-xs-3">
        Activity type
    </label>
    <div class="col-xs-9">
        <p class="form-control-static">
            @(Model.ActivityType == null ? "None" : Model.ActivityType.Name)
        </p>
    </div>
</div>

<div class="form-group">
    <label for="@Model.Toys" class="control-label col-xs-3">
        Toys
    </label>
    <div class="col-xs-9">
        <p class="form-control-static">
            @(Model.Toys == null ? "None" : Model.Toys.Count.ToString())
        </p>
    </div>
</div>

<div class="form-group">
    <label for="@Model.Flashcards" class="control-label col-xs-3">
        Flashcards
    </label>
    <div class="col-xs-9">
        <p class="form-control-static">
            @(Model.Flashcards == null ? "None" : Model.Flashcards.Count.ToString())
        </p>
    </div>
</div>
