@model DailyPlanner.DomainClasses.Activity

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>@Model.Name activity details</legend>

    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Model.Name
        </dd>

        <dt>
            Description
        </dt>
        <dd>@Model.Description</dd>

        <dt>
            ActivityType
        </dt>
        <dd>@(Model.ActivityType == null ? "None" : Model.ActivityType.Name)</dd>

        <dt>
            Toys
        </dt>
        <dd>@(Model.Toys == null ? "None" : Model.Toys.Count.ToString())</dd>

        <dt>
            Flashcards
        </dt>
        <dd>@(Model.Flashcards == null ? "None" : Model.Flashcards.Count.ToString())</dd>
    </dl>
</fieldset>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-xs" })
    </div>
</div>

@Html.ActionLink("Back to List", "Index")


