@model DailyPlanner.DomainClasses.Flashcard

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-label col-xs-2" })

    <div class="col-xs-10">
        @Html.EditorFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Description, new { @class = "control-label col-xs-2" })

    <div class="col-xs-10">
        @Html.EditorFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
</div>
<div class="form-group">
    @Html.Label("Flashcard type", new { @class = "control-label col-xs-2" })

    <div class="col-xs-10">
        @Html.DropDownListFor(model => model.FlashcardTypeId, ((IEnumerable<DailyPlanner.DomainClasses.FlashcardType>)ViewBag.PossibleFlashcardTypes).Select(option => new SelectListItem
{
    Text = (option == null ? "None" : option.Name),
    Value = option.Id.ToString(),
    Selected = (Model != null) && (option.Id == Model.FlashcardTypeId)
}), "Choose...")
        @Html.ValidationMessageFor(model => model.FlashcardTypeId)
    </div>
</div>