@model DailyPlanner.DomainClasses.Pill



<div class="form-group">
    <label for="@Model.Name" class="control-label col-xs-2">
        Name
    </label>
    <div class="col-xs-10">
        <p class="form-control-static">
            @Model.Name
        </p>
    </div>
</div>


<div class="form-group">
    <label for="@Model.Quantity" class="control-label col-xs-2">
        Quantity
    </label>
    <div class="col-xs-10">
        <p class="form-control-static">
            @Model.Quantity
        </p>
    </div>
</div>



<div class="form-group">
    <label for="@Model.UnitOfMeasure" class="control-label col-xs-2">
        Measurement unit
    </label>
    <div class="col-xs-10">
        <p class="form-control-static">
            @Model.UnitOfMeasure
        </p>
    </div>
</div>



<div class="form-group">
    <label for="@Model.Days" class="control-label col-xs-2">
        Days
    </label>
    <div class="col-xs-10">
        <p class="form-control-static">
            @Model.Days
        </p>
    </div>
</div>



<div class="form-group">
    <label for="@Model.Comment" class="control-label col-xs-2">
        Comment
    </label>
    <div class="col-xs-10">
        <p class="form-control-static">
            @Model.Comment
        </p>
    </div>
</div>





