@model DailyPlanner.DomainClasses.Pill

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>@Model.Name medicine details</legend>


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitOfMeasure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitOfMeasure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</fieldset>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        @Html.ActionLink("Edit medicine", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-xs" })
    </div>
</div>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
