<div class="row">
    <div class="col-md-4">
        <h2>Manage activity types</h2>
        <p>
            The activity types manager is here:
        </p>

        <p>@Html.ActionLink("Go and manage >>", "Index", "ActivityType")</p>
    </div>
    <div class="col-md-4">
        <h2>Manage flashcard types</h2>
        <p>
            The flashcard types manager is here:
        </p>

        <p>@Html.ActionLink("Go and manage >>", "Index", "FlashcardType")</p>
    </div>

    <div class="col-md-4">
        <h2>Manage toy types</h2>
        <p>
            The toy types manager is here:
        </p>
        <p>@Html.ActionLink("Go and manage >>", "Index", "ToyType")</p>
    </div>

    <div class="col-md-4">
        <h2>Manage activities</h2>
        <p>
            The activities manager is here:
        </p>
        <p>@Html.ActionLink("Go and manage >>", "Index", "Activity")</p>
    </div>

    <div class="col-md-4">
        <h2>Manage flashcards</h2>
        <p>
            The flashcards manager is here:
        </p>
        <p>@Html.ActionLink("Go and manage >>", "Index", "Flashcard")</p>
    </div>

    <div class="col-md-4">
        <h2>Manage toys </h2>
        <p>
            The toys manager is here:
        </p>
        <p>@Html.ActionLink("Go and manage >>", "Index", "Toy")</p>
    </div>


    <div class="col-md-4">
        <h2>Manage meals</h2>
        <p>The meals manager is here</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go and manage &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage pils</h2>
        <p>The medication manager is here</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go and manage &raquo;</a></p>
    </div>
</div>
