@model DailyPlanner.DomainClasses.Meal

<div class="form-group">
    <label for="@Model.Name" class="control-label col-xs-2">
        Name
    </label>
    <div class="col-xs-10">
        <p class="form-control-static">
            @Model.Name
        </p>
    </div>
</div>

<div class="form-group">
    <label for="@Model.Recipe" class="control-label col-xs-2">
        Recipe
    </label>
    <div class="col-xs-10">
        <p class="form-control-static">
            @Model.Recipe
        </p>
    </div>
</div>

<div class="form-group">
    <label for="@Model.Comment" class="control-label col-xs-2">
        Comment
    </label>
    <div class="col-xs-10">
        <p class="form-control-static">
            @Model.Comment
        </p>
    </div>
</div>