@model DailyPlanner.DomainClasses.DailyTask

@{
    ViewBag.Title = "Delete";
}

<fieldset>
    <legend>Delete daily task</legend>

    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Model.Name
        </dd>

        <dt>Description</dt>
        <dd>@Model.Comment</dd>

        <dt>Date</dt>
        <dd>
            @Model.Date.ToShortDateString()
        </dd>

        <dt>Start time</dt>
        <dd>@Model.StartTime.ToShortTimeString()</dd>

        <dt>Duration</dt>
        <dd>@Model.Duration</dd>



        <dt>Activity</dt>
        <dd>@((Model.Activity == null) ? "None" : Model.Activity.Name)</dd>

    </dl>


  </fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


