@model IEnumerable<DailyPlanner.DomainClasses.DailyTask>

@{
    ViewBag.Title = "Index";
}

<h3>Daily tasks</h3>

<p>
    @Html.ActionLink("Create new task", "Create")
</p>


    @using (Html.BeginForm("SearchByDate", "DailyTask", FormMethod.Post, new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()

        var selectedDate = DateTime.Now.ToString("yyyy-MM-dd");
        if (ViewBag.Date != null)
        {
            selectedDate = ViewBag.Date;
        }

        <div class="input-group">

            <input type="date" name="date" id="date" value="@selectedDate" class="form-control datecontrol " />
            <span class="input-group-btn">
                <input type="submit" value="Search by date" class="btn btn-primary " />
            </span>

        </div>
    }

<br />
<hr />
<br />
@Html.Partial("_List")
<br />
<hr />
<br />

<p>
    Total time for activities <span id="totalTimeMinutes"></span> minutes, meaning
    <span id="totalTimeHours"></span> hours and <span id="minutes"></span> minutes.
</p>



 
@{
   
    ViewBag.URL =  string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
}


<p id="serverCalculation" data-url="@ViewBag.URL">
    Total time calculated on the server is <span id="totalTimeServer"></span> minutes.
</p>

@section scripts{
    <script type="text/javascript" src="~/Scripts/CalculateTotalTime.js">


    </script>

}
