@model DailyPlanner.DomainClasses.Toy

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm()) {
  
    <fieldset>
        <legend>Update <i>@Model.Name</i> toy</legend>
        
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        @Html.Partial("_CreateOrEdit", Model)

        <div class="form-group">
            <div class="col-xs-5"></div>
            <div class=" col-xs-2 text-center">
                <input type="submit" value="Save" class="btn btn-primary btn-block" />
            </div>
        </div>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
